<!-- <div class="whale"><%= image_tag("whale.jpg", :alt => "whale") %></div> -->
<div class="first">
  <div class="container">
    <div class="dialogue one" id="dialogue-1">
      <p class="dialogue">
       WOW ! real Whale! Here comes my perfect shot.
      </p>
    </div>
    <div class="dialogue two" id="dialogue-2">
      <p class="dialogue">
       What kind of species are you ?! 
      </p>
    </div>
    <div class="dialogue one" id="dialogue-3">
      <p class="dialogue">
      I`m a human from the land! I am here to explore the ocean
      </p>
    </div>
    <div class="dialogue two" id="dialogue-4">
      <p class="dialogue">
       Okay! I will be your guide , come with me. 
      </p>
    </div>
    <div class="whale-human">
      <img class="human" src=<%= asset_path 'Girl-Surprised-.png' %>     alt="">
      <img class="whale WH" src=<%= asset_path 'Whale-Smiling-rev.png' %> alt="">
    </div>
  </div>
</div>
<div id="gradient" >
  <div class="items">
    <img src="#" class="icon" hidden="hidden" id="template" />
    <div id="dialogues"></div>
    <div id="x"></div>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
    <div class="dialogue-container">
        <div class="whale-dialogue" id="d-1">
          <p class="dialogue">Did you see this? what you do above the land , everyone in sea life suffer fom it.</p>
        </div>
        <div  class="boy-dialogue" id="d-2">
          <p class="dialogue">I thought that the ocean was so huge that we won`t affect it! 
</p>
        </div>
        <div class="whale-dialogue" id="d-3">
          <p class="dialogue">Everything has an effect no matter how small </p>
        </div>
        <div  class="boy-dialogue" id="d-4">
          <p class="dialogue">Ooh! How terrible are we ! <a id="read-more" href ="/posts/1">Read more</a></p>
          <button id="btn">Continue</button>
          
        </div>
      </div>
    <div class="cont">
    <div class="humanWithWhale"><img class="humantwo dive" src=<%= asset_path 'Girl-Surprised-.png' %>/>
    <img src=<%= asset_path 'Whale-Smiling.png' %> alt="" class="whaletwo dive"></div>
     
     
      <img src="http://www.hello-world.com/images/vocabulary/N1078.png" id="bottle"  />
      
      <img src=<%= asset_path 'Octopus.png' %> alt="" id="octopus"/>
      <img src=<%= asset_path 'Turtle-In-A-Net.png' %> alt="" id="turt"/>
      <img src=<%= asset_path 'Sick-Coral-Reefs.png' %> alt="" id="coral"/>
      <img src=<%= asset_path 'grass.png' %> alt="" id="grass"/>
       <img src=<%= asset_path 'dirt.png' %> alt="" id="dirt"/>
       <h3 class=" help-1">How Can You Help?</h3>
       <h3 class=" help-2">Bring Your Own Bag For Life </h3>
       <h3 class=" help-3">Carry A Reusable Cup </h3>
       <h3 class=" help-4">Carry a Reusable Bottle </h3>
       <h3 class=" help-5">Say No To Plastic Straws ! </h3>
       
    </div>
  </div>
</div>
