<!-- <div class="whale"><%= image_tag("whale.jpg", :alt => "whale") %></div> -->
<div class="first">
  <div class="container">
    <div class="dialogue one" id="dialogue-1">
      <p class="dialogue">
        1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?
      </p>
    </div>
    <div class="dialogue two" id="dialogue-2">
      <p class="dialogue">
        2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?
      </p>
    </div>
    <div class="dialogue one" id="dialogue-3">
      <p class="dialogue">
        3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?
      </p>
    </div>
    <div class="dialogue two" id="dialogue-4">
      <p class="dialogue">
        4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?
      </p>
    </div>
    <div class="whale-human">
      <img class="human" src=<%= asset_path 'Girl-Surprised-.png' %>     alt="">
      <img class="whale WH" src=<%= asset_path 'Whale-Smiling-rev.png' %> alt="">
    </div>
  </div>
</div>
<div id="gradient" >
  <div class="items">
    <img src="#" class="icon" hidden="hidden" id="template" />
    <div id="dialogues"></div>
    <div id="x"></div>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
    <div class="dialogue-container">
        <div class="whale-dialogue" id="d-1">
          <p class="dialogue">whale's dialogue Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?</p>
        </div>
        <div  class="boy-dialogue" id="d-2">
          <p class="dialogue">Boy's dialogue 222222Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?</p>
        </div>
        <div class="whale-dialogue" id="d-3">
          <p class="dialogue">whale's dialogue 33333333Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?</p>
        </div>
        <div  class="boy-dialogue" id="d-4">
          <p class="dialogue">Boy's dialogue Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        optio, numquam dolorum vero ullam possimus iure error eaque aperiam
        nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
        fugiat?<a id="read-more" href ="/posts/1">Read more</a></p>
          <button id="btn">Continue</button>
          
        </div>
      </div>
    <div class="cont">
    <div class="humanWithWhale"><img class="humantwo dive" src=<%= asset_path 'Girl-Surprised-.png' %>/>
    <img src=<%= asset_path 'Whale-Smiling.png' %> alt="" class="whaletwo dive"></div>
     
     
      <img src="http://www.hello-world.com/images/vocabulary/N1078.png" id="bottle"  />
      
      <img src=<%= asset_path 'Octopus.png' %> alt="" id="octopus"/>
      <img src=<%= asset_path 'Turtle-In-A-Net.png' %> alt="" id="turt"/>
      <img src=<%= asset_path 'Sick-Coral-Reefs.png' %> alt="" id="coral"/>
      
    </div>
  </div>
</div>
