<h1> All Items is here</h1>
<p><%= link_to("New item", new_item_path) %></p>
<ul>
  <% @items.each do |item| %>
    <li>
      <h3><%= item.name %>: </h3>
      <img src="<%= item.image %>">
    </li>
    <p><%= link_to("Edit", edit_item_path(item.id)) %></p>
    <p><%= link_to("Delete", "/items/#{item.id}", method: "delete") %></p>
  <% end %>
</ul>
