<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="gradient" />
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
    <div class="cont"><img src="http://assets.stickpng.com/thumbs/58ac47d6f86c9c2eea74c4f0.png" alt="" class="whale">
      <img src="http://www.pngall.com/wp-content/uploads/2016/04/Water-Bottle-Free-Download-PNG.png" id="bottle"  />
      <div id="d-1" style="display: none">
        <p>dialog1</p>
      </div>
      <div id="d-2" style="display: none">
        <p>dialog2</p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
